{% extends "base_users.html" %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content_table %}
<div class="p-5 d-flex flex-column justify-content-center align-items-center  ">
    <p class="display-6 text-center mb-3 fw-light m-0 bg-transparent">{{ title }}</p>
    <div class="card rounded-5 d-flex flex-col p-4 w-50 shadow-lg">
        <div class="d-flex flex-column mb-3">
            <div class="text-center w-100 my-1">
                <p class="display-6 text-center mb-3 fw-light m-0 bg-transparent text-muted font-weight-bold">{{ object.medicamento_id.nombre }}</p>
            </div>
            <div class="mt-1">
                <ul>
                    <li>
                        <p class="h5">Fecha: {{ object.fecha }}</p>
                    </li>
                    <li>
                        <p class="h5">Tarjeta bancaria: <span class="text-uppercase">{{ object.tarjeta_bancaria }}</span></p>
                    </li>
                    <li>
                        <p class="h5">Cantidad: <span class="text-uppercase">{{ object.cantidad }}</span></p>
                    </li>
                    <li>
                        <p class="h5">Tipo de Medicamento: {{ object.medicamento_id.tipo_medicamento_id.nombre }}</p>
                    </li>
                </ul>
                <p class="h3 text-center text-muted">Total pagado: {{ object.total_pagado }}</p>
            </div>
        </div>
        <div class="  d-flex flex-row-reverse">
            <a class="text-decoration-none" href="{% url 'compras_users' %}">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Regresar</button>
            </a>
        </div>
    </div>
</div>
{% endblock content_table %}
