{% extends "base_admin.html" %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content_table %}
    <div class="p-5 d-flex flex-column justify-content-center align-items-center  ">
        <p class="display-6 text-center mb-3 fw-light m-0 bg-transparent">{{ title }}</p>
        <div class="card rounded-5 d-flex flex-col p-4 w-50 shadow-lg">
            <form method='post' class="p-2">
                {% csrf_token %}
                <div class="container">
                    <div class="row mb-4">
                        <div class="col-6">
                            <label for="{{ form.no_serie.id_for_label }}" class="form-label">No. Serie:</label>
                            <input type="text"
                                   name="{{ form.no_serie.html_name }}"
                                   {% if form.no_serie.value %} value="{{ form.no_serie.value }}"{% endif %}
                                   class="form-control"
                                   id="{{ form.no_serie.id_for_label }}"
                                   maxlength="255"
                                   />
                            {% if form.no_serie.errors %}
                                <div class="alert alert-danger sm m-1 p-2 small" role="alert">
                                    {% for error in form.no_serie.errors %}{{ error }}{% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-6">
                            <label for="{{ form.cant_medi.id_for_label }}" class="form-label">C. Medicamento:</label>
                            <input type="number"
                                   name="{{ form.cant_medi.html_name }}"
                                   {% if form.cant_medi.value %} value="{{ form.cant_medi.value }}"{% endif %}
                                   class="form-control"
                                   id="{{ form.cant_medi.id_for_label }}"
                                   maxlength="255"
                                   />
                            {% if form.cant_medi.errors %}
                                <div class="alert alert-danger sm m-1 p-2 small" role="alert">
                                    {% for error in form.cant_medi.errors %}{{ error }}{% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-12">
                            <label for="{{ form.precio.id_for_label }}" class="form-label">Precio:</label>
                            <input type="number"
                                   name="{{ form.precio.html_name }}"
                                   {% if form.precio.value %} value="{{ form.precio.value }}"{% endif %}
                                   class="form-control"
                                   id="{{ form.precio.id_for_label }}"
                                   maxlength="255"
                                   />
                            {% if form.precio.errors %}
                                <div class="alert alert-danger sm m-1 p-2 small" role="alert">
                                    {% for error in form.precio.errors %}{{ error }}{% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="  d-flex justify-content-between">
                    <a class="text-decoration-none" href="{% url 'tarjetas-estiba' %}">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    </a>
                    <button type="submit" class="btn btn-success" id="btnappend">Guardar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content_table %}
